

.button {
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ffffff, #2E5C8A);

}

.button:hover {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button:pressed {
    -fx-background-color: linear-gradient(#2E5C8A, #ffffff);
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}